.products-group{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px rgb(95, 95, 95) solid; */
    box-shadow: 2px 5px 10px 2px #ffffff1f;
    width: 100%;
    height: 250px;
    /* border-radius: 10px; */
    padding: 20px;
}

.products-group .product:nth-child(1){
    background: url("/assets/img/produto1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.products-group .product:nth-child(2){
    background: url("/assets/img/produto2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.products-group .product:nth-child(3){
    background: url("/assets/img/produto3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.products-group .product:nth-child(4){ 
    background: url("/assets/img/produto4.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.products-group .product:nth-child(5){
    background: url("/assets/img/produto5.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

}

.products-group .product:nth-child(6){
    background: url("/assets/img/produto6.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.products-group .product:nth-child(7){
    background: url("/assets/img/produto7.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.products-group .product:nth-child(8){
    background: url("/assets/img/produto8.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.products-group .product:nth-child(9){ 
    background: url("/assets/img/produto9.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.products-group .product:nth-child(10){
    background: url("/assets/img/produto10.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

}

.products-group .product:nth-child(11){ 
    background: url("/assets/img/produto11.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.products-group .product:nth-child(12){
    background: url("/assets/img/produto12.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

}




.product a{
    margin-top: 10px;
    border: 1px white solid;
    padding: 10px;
    transition: 0.2s ease;
}

.product .product-name{
    text-shadow: 2px 2px 4px #00000098;
}

.product a:hover{
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    border: 1px white solid;
    padding: 10px;
    color: black;
}